extends layout.pug

block content
  .container.mt-5
    h1.mb-4 Images

    table.table.mb-4
      thead
        tr
          th ID
          th Name
          th Width
          th Height
          th Size
          th Created At

      tbody
        each image in data.items
          tr
            td
              = image.id

            td
              a(href="/images/" + image.id)
                = image.name

            td
              = image.width

            td
              = image.height

            td
              = image.size

            td
              = image.created_at

    if page > 1
      a.btn.btn-primary.mr-2(href="/users?page=" + (page - 1))
        Previous

    if (data.metadata.count - (page * 10)) > 0
      a.btn.btn-primary(href="/users?page=" + (page + 1))
        Next
