extends layout.pug

block content
  .container.mt-5
    h1.mb-4 Base API Examples

    p.lead
      | This is an application showcasing the features of&nbsp;
      a(href="https://www.base-api.io") Base API.

    p
      | The source is available on github:&nbsp;
      a(href="https://github.com/base-api-io/base-examples") https://github.com/base-api-io/base-examples
