extends layout.pug

block content
  .container.mt-5
    h1 Upload File

    form(method="POST" action="/upload-file" enctype="multipart/form-data")
      if error
        .alert.alert-danger
          = error

      .form-group
        label(for='file') File
        input#file.form-control(
          style="height: auto;"
          type='file'
          name="file")

      button.btn.btn-primary(type='submit') Submit
