extends layout.pug

block content
  .container.mt-5
    h1.mb-4 User Details

    table.table
      thead
        tr
          th Name
          th Value
      tbody
        tr
          td ID
          td= user.id
        tr
          td Email
          td= user.email
        tr
          td Custom Data
          td= user.custom_data
        tr
          td Created At
          td= user.created_at

    .d-flex.align-items-start
      form(method="POST", action="/users/" + user.id + "/delete")
        button.btn.btn-danger Delete User
      a.btn.btn-primary.ml-2(href="/users/" + user.id + "/update") Update User

    h4.mt-5 Response
    .card.bg-light
      .card-body
        pre
          code
            = JSON.stringify(user, null, "  ")
