extends layout.pug

block content
  .container.mt-5
    h1.mb-4 Users

    table.table.mb-4
      thead
        tr
          th ID
          th Email
          th Created At

      tbody
        each user in data.items
          tr
            td
              = user.id

            td
              a(href="/users/" + user.id)
                = user.email

            td
              = user.created_at

    if page > 1
      a.btn.btn-primary.mr-2(href="/users?page=" + (page - 1))
        Previous

    if (data.metadata.count - (page * 10)) > 0
      a.btn.btn-primary(href="/users?page=" + (page + 1))
        Next
