<div class="container mt-5">
  <h1 class="mb-4">
    Base API Examples
  </h1>

  <p class="lead">
    This is an application showcasing the features of

    <a href="https://www.base-api.io">
      Base API.
    </a>
  </p>

  <p>
    The source is available on github:

    <a href="https://github.com/base-api-io/base-examples">
      https://github.com/base-api-io/base-examples
    </a>
  </p>
</div>
